.register-form{
    text-align: center;
}

.form-title{
    display: block;
    align-items: center;
    width: 448px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.register-form-group{
    display: flex;
    flex-direction: column;
}

.register-form-wrap{
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.register-form-input,
.register-form-message{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: var(--primary-white-color);
  
    border-radius: 4px;
    padding: 12px;
    padding-left: 42px;
    
    outline: transparent;
}

.register-form-input:focus-within,
.register-form-message:focus-within{
    border: 1px solid #2196F3;
}

.register-form-input:focus-within + .modal-form-icon{
    fill: #2196F3;
}

.register-form-label{
    display: block;
    position: relative;
    margin-bottom: 4px;

    text-align: left;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-icon{
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: #212121;
}

.register-form-wrap:last-child {
    margin-bottom: 0;
}

.register-form-message{
    height: 120px;
    width: 100%;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
}

.register-form-message::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-checkbox-icon {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-agreement-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    user-select: none;
    
    color: #757575;
}

.form-agreement-link{
    color: #2196F3;
    text-decoration: underline;
}
.form-modal-checkbox-uncheck {
    opacity: 1;

    .register-checkbox:focus +  .form-checkbox-icon &{
        fill: var(--accent-color);
        transition: fill var(--trans);
    }
}
.form-modal-checkbox-check {
    opacity: 0;

    .register-checkbox:checked + .form-checkbox-icon & {
        opacity: 1;
        transition: opacity var(--trans);
    }
}
.register-checkbox:checked + .form-modal-checkbox-uncheck {
    opacity: 0;
    transition: opacity var(--trans);
}


.modal-form-btn{
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.form-btn:hover,
.form-btn:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.form-btn{
    width: 200px;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    color: var(--primary-white-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;

    transition: background-color var(--trans), box-shadow var(--trans);
}